<div id="<%= dom_id onsen %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= onsen.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Geo lat:</strong>
    <%= onsen.geo_lat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Geo lng:</strong>
    <%= onsen.geo_lng %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= onsen.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tags:</strong>
    <%= onsen.tags %>
  </div>
</div>
