<%= form_with(model: [:admin, @onsen], class: "contents") do |form| %>
  <% if onsen.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(onsen.errors.count, "error") %> prohibited this onsen from being saved:</h2>

      <ul class="list-disc ml-6">
        <% onsen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": onsen.errors[:name].none?, "border-red-400 focus:outline-red-600": onsen.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :geo_lat %>
    <%= form.text_field :geo_lat, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": onsen.errors[:geo_lat].none?, "border-red-400 focus:outline-red-600": onsen.errors[:geo_lat].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :geo_lng %>
    <%= form.text_field :geo_lng, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": onsen.errors[:geo_lng].none?, "border-red-400 focus:outline-red-600": onsen.errors[:geo_lng].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": onsen.errors[:description].none?, "border-red-400 focus:outline-red-600": onsen.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": onsen.errors[:tags].none?, "border-red-400 focus:outline-red-600": onsen.errors[:tags].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
